/*start styling mobile first*/

:root {
  /*to pull colors throughtout app for consistent color scheme*/
  --color-green: rgb(16, 95, 16);
  --color-white: white;
  --color-dark-grey: rgb(37, 37, 37);
  --color-medium-grey: rgb(92, 90, 90);
  --color-light-grey: rgb(168, 164, 164);
}

* {
  box-sizing: border-box;
}
html {
  height: 100vh;
}
body {
  margin: 0;
  background: var(--color-medium-grey);
  color: var(--color-white);
  font-family: Roboto, Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/*header*/

header {
  text-align: center;
}

.header_title {
  font-size: 3rem;
  font-weight: 900;
  color: var(--color-light-grey);
}
/*controls*/

.controls {
  background: rgb(47, 128, 31);
}

/*counter*/

.counter {
  background: var(--color-dark-grey);
}

.counter_value {
  background: none;
  width: 100%;
  height: 15rem;
  text-align: center;
  font-size: 6rem;
  font-weight: 900;
  color: var(--color-green);
  border-width: 0;
  border-bottom: 1px solid var(--color-light-grey);
}

.counter_button {
  background: none;
  width: 50%;
  border-width: 0;
  color: var(--color-white);
  font-size: 3rem;
  height: 10rem;
  border-bottom: 1px solid var(--color-light-grey);
  transition: transform 0.1s;
  transform: translateY(0);
}

.counter_button:disabled {
  opacity: 0.2;
  background: pink;
}

.counter_button:active {
  /*to change color when clicked*/
  background: var(--color-medium-grey);
  transform: translateY(4%);
}

.counter_actions {
  display: flex;
}

.counter_button_first {
  border-right: 1px solid var(--color-light-grey);
}

/*footer*/

footer {
  background: var(--color-dark-grey);
  color: var(--color-white);
  border: solid var(--color-light-grey) 1px;
  text-align: center;
  padding: 1rem;
  font-size: small;
}

/*error*/

.error {
  background: pink;
  padding: 2rem;
  color: brown;
}
